<template>
  <div class="location">
    <gmap-map
      :center="center"
      :zoom="12"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
    <div class="coordinates">current position</div>
    <div class="coordinates">{{this.center}}</div>
    <div class="coordinates">{{this.geoLocateInfo}}</div>
  </div>
</template>

<script>
export default {
  name: 'Location',
  data() {
    return {
      center: { lat: 54.678388, lng: 25.287107 },
      markers: [],
      geoLocateInfo: 'undefined'
    };
  },
  mounted() {
    this.geolocate();
  },

  methods: {
    addMarker(coordinates) {
      if (coordinates) {
        const marker = coordinates;
        this.markers.push({ position: marker });
        this.center = marker;
      }
    },
    geolocate: function() {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        this.geoLocateInfo = position;
        this.addMarker(this.center);
      });
    }
  }
}
</script>

<style lang="css">
.coordinates {
  margin: 15px;
}
</style>